::-webkit-scrollbar-button{
  color: red;
  background-color: royalblue;
  }
  ::selection {
  background-color: transparent;
  /* color: rgba(33,75,97,255); */
  color: black;
  }
  ::-webkit-scrollbar {
      width: 10px;
      /* background-color: rgb(211, 211, 211); */
      background-color: #9e9e9e;
  }
  ::-webkit-scrollbar-thumb {
      /* -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
      background-color: #11cdd4;
      border-radius: 10px;
  }
  /* Buttons */
  ::-webkit-scrollbar-button:single-button {
      background-color: #bbbbbb;
      display: block;
      border-style: solid;
      height: 13px;
      width: 16px;
  }
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #555555 transparent;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
      border-color: transparent transparent #808080 transparent;
  }
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
      border-width: 8px 8px 0 8px;
      border-color: #555555 transparent transparent transparent;
  }
  
  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
      border-color: #808080 transparent transparent transparent;
  }
